html, body {
  height: 100%; /* Zorg ervoor dat de volledige hoogte van de viewport wordt gebruikt */
  margin: 0; /* Verwijder standaard marges */
  display: flex; /* Gebruik Flexbox */
  flex-direction: column; /* Stapel elementen verticaal */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #0D7691;
    color: black;
    font-family: Arial, sans-serif;
    
  }