html, body {
    height: 100%; /* Zorgt ervoor dat de pagina de volledige hoogte heeft */
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1; /* Laat de content de resterende ruimte innemen */
  }
  
  .footer {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
  }