
header {
    background-color: #0C3B47; /*maakt de achtergrond wit*/
    color: white; /*maakt de tekst zwart*/
    border: 0px solid; /*maakt een border om de header van 2pixels en maakt de lijn solid*/ /*kleur wordt automatisch zwart*/
    margin: 0px 0px; /*zorgt ervoor dat de linker en rechter kant net iets uit steken waardoor je de lijnen niet ziet.*/
    display: flex; /*zorgt ervoor dat de 3 <div>'s naast elkaar staan*/
    align-items: center; /*zet de tekst verticaal in het midden*/
    text-align: center; /*zet de tekst horizontaal in het midden*/
    min-height: 64px;
    
}

header div {
    flex: 0 1 100%; /*zorgt er voor dat de <div>'s worden verdeelt horizontaal*/
}

.round {
    height: 64px;
    width: 64px;
    border: 1px solid #C9C8C8;
    background-color: #C9C8C8;
    border-radius: 100%;
    float: right;
}
