nav { /*algemene nav css*/
    background-color: #12181D; /*maakt de navigatie balk donker*/
    color: white; /*witte letters*/
    font-size: 20px; /*grootte van de tekst in de navigatiebalk*/
    display: flex; /*zorgt dat de box die gemaakt wordt flex is*/
    padding: 20px 25px; /*creërt extra ruimte in de box*/
}

nav a{
    font-size: 28px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav div { 
    flex: 0 1 100%; /*zorgt dat de breedte van alle <div>'s 100% is*/ /*hoogte van de boxen*/ /*zonder worden de boxen uitgerekt naar onderen */
    border: 0px solid; /*een border om te testen of alles goed staat*/
}

.return { /*tekst + icon goedzetten*/
    height: 32px; /*zorgt ervoor dat de hoogte van de return arrow 32px is*/
    display: flex; /*zet de pijl en tekst naast elkaar*/
}

.logo { /*logo class die aan een div gegeven kan worden speciaal om het logo in het midden te zetten*/
    height: 32px; /*hoogte van het plaatje*/
    margin-left: 50%; /*zet het plaatje in het midden*/
}

.menu { /*tekst + icon goed zetten*/
    height: 32px; /*zorgt ervoor dat de hoogte van de return arrow 32px is*/
    display: flex;
    justify-content: end;
}

