
aside{
    position: fixed;
    right: 0;
    margin: 80px 0px;
    width: 270px;
    border-radius: 8px;
    background: #12181D;
    height: calc(100vh);
}

aside div{
    width: 80%;
    margin: 32px auto;
    height: 48px;
    background: #0C3B47; 
    border-radius: 10px;
    text-align: center;
    line-height: 48px;
    display: flex;
    justify-content: center;
    user-select: none;
}

aside a{
    color: white;
    background-color: transparent;
    background-size: auto;
    text-decoration: none ;
}

aside img{
    height: 48px;
    color: black;
}
    #menuToggle{
        font-size: 28px;
        display: flex;
        justify-content: end;
    }

  #menu ul {
    list-style: none;
    padding: 0;
  }
  
  #menu ul li {
    margin: 10px 0;
  }
  
  #menu ul li a {
    color: white;
    text-decoration: none;
  }
  
  .hidden {
    display: none;
  }

aside div:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, z-index 0s ease 0.3s;
    cursor: pointer;
}
aside div:not(:hover){
    transition: transform 0.3s ease, z-index 0s ease 0.3s;
}