
body {
    background-color: #0D7691;
    color: black;

  }

body div.opdracht{
  width: 70%;
  margin: 10px auto;
  padding: 1% 1%;
  background-color: #C9C8C8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-size: 16px;
  flex: 1;
}

div.border{
  background-color: aliceblue;
  border-radius: 25px;
  padding: 3%;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

div.borderreverse{
  background-color: aliceblue;
  border-radius: 25px;
  padding: 3%;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
}

.opacity img{
  box-shadow: 0 0 0;
}

.section img{
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  margin: 5px;
}
@media (min-width: 1200px){
.section img:hover{
  transform: scale(1.5);
  transition: transform 0.3s ease, z-index 0s ease 0.3s;
}
.section img:not(:hover){
  transition: transform 0.3s ease, z-index 0s ease 0.3s;
}
}

.section{
  margin: 25px;
}

.div25{
width: 25%;
border-radius: 5px;
}
.div33{
  width: 33%;
  margin: 5px;
}
.div40{
  width: 40%;
  padding: 10px;
}
.div50{
width: 50%;
margin: 5px;
}
.div60{
  width: 60%;
  margin: 5px;
}
.div75{
  width: 75%;
  border-radius: 5px;
}
.div100{
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 1200px){
body{
  font-size: 13px;
}
body div.opdracht{
  width: 90%;
}
}

@media (max-width: 900px){
  body{
    font-size: 16px;
  }
  body div.opdracht{
    width: 90%;
  }
  .section{
  display:flex;
  flex-direction: column;
  }
  div.border, div.borderreverse{
    flex-direction: column;

  }
  .div75, .div60, .div50, .div40, .div33, .div25{
    width: 100%;
  }
}