@import url(../Style/Header.css);
@import url(../Style/Navigatiebalk.css);
@import url(../Style/Body.css);
@import url(../Style/Footer.css);
@import url(../Style/Opdrachtenpagina.css);
@import url(../Style/ContactFormulier.css);
@import url(../Style/Sidebars.css);

html, body{ /* Algemeene layout*/
    width: 100%;
    height: 100%;
    margin: 0; 
    display: flex; 
    flex-direction: column; 
}
