H1.headline{
    border-radius: 5px;
    border-style: dashed;
    background-position: 0%;
    color: rgb(29, 93, 150);
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(44, 19, 184), 2px 2px 5px red;
    font-family:Arial, Helvetica, sans-serif;
}


p.textbox{
    border-color: darkorange;
    border-radius: 2px;
    border-style: outset;
}

div.textbox{
    width: auto;
    background-color: blue;
    padding: 15px;
}

a:link{
    color: rgb(0, 0, 0);
    background-color: transparent;
    background-size: auto;
    text-decoration: none ;
}

a:visited{
    color: rgb(0, 0, 0);
    background-color: transparent;
    background-size: auto;
    
    text-decoration: none;
}

a:hover{
    color:rgb(255, 0, 43);
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: underline;
}

a:active{
    color: black;
    text-decoration: underline;
}

/*
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}
*/

.Footer {
    background-color: rgb(87, 88, 92); 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    bottom: 0;
  }

.Footer li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    

}